/*
 * base.css
 *
 * Author: Nick Harvey (diego.perini at gmail.com)
 * Summary: Core CSS setup to sensible defaults, rather than a full reset
 * Updated: 20120510
 * License: MIT - see LICENSE file in the root of the project
 * Version: 0.2
 *
 * URL:
 * https://github.com/bluemini/slim-start
 *
 */

body {
	padding: 0;
	margin: 0;
	font-size: 0.75em;
	font-family: verdana, arial, sans-serif;
}
ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
p,ul,ol {
	margin: 0.2em 0 0.8em;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	color: #333333;
	margin: 0.4em 0 0.6em;
	position: relative;
}
h2 {
	font-size: 2em;
}
li {
	margin: 0;
	padding: 0.2em;
}
table {
	font-size: inherit;
	border-collapse: collapse;
}
table td {
	padding-left: 0.1em;
}